texHeaders.bin
.vs
bin
obj
*.pbo
*.user
appsettings.Development.json
/cTabIRL/packages
*.dll
*.pdb
*.exe
*.bikey
/@cTab/releases
/cTabIRL/@cTabIRL/releases
.hemttout
.idea
/@cTab/.hemtt/missions/~basic.vr
/cTabIRL/@cTabIRL/.hemtt/missions/~basic.vr
