texHeaders.bin
.vs
*.pbo
/cTabIRL/.vs
/cTabIRL/cTabExtension/bin
/cTabIRL/cTabExtension/obj
/cTabIRL/cTabExtensionTester/bin
/cTabIRL/cTabExtensionTester/obj
/cTabIRL/cTabWebApp/bin
/cTabIRL/cTabWebApp/obj
*.user
appsettings.Development.json
/cTabIRL/packages
*.dll
*.pdb
*.exe
/cTabIRL/QrFontBuilder/obj
/cTabIRL/QrFontBuilder/bin
/cTabIRL/cTabWebAppTests/obj
/cTabIRL/cTabWebAppTests/bin
*.bikey
/@cTab/releases
/cTabIRL/@cTabIRL/releases
/cTabIRL/@cTabIRL/.hemttout
/@cTab/.hemttout
/@cTab/.hemtt/missions/~basic.vr
/generators/App6dGenerator/bin
/generators/App6dGenerator/obj
/@cTab/addons/app6d/data/*/*/*.png
