texHeaders.bin
/.vs
*.pbo
/cTabIRL/.vs/cTabExtension
/cTabIRL/cTabExtension/bin
/cTabIRL/cTabExtension/obj
/cTabIRL/cTabExtensionTester/bin
/cTabIRL/cTabExtensionTester/obj
/cTabIRL/cTabWebApp/bin
/cTabIRL/cTabWebApp/obj
*.user
appsettings.Development.json
/cTabIRL/packages
*.dll
*.pdb
*.exe
