body {
    /*height: 100%;*/
    background: black;
}
.map {
    width: 100%;
    height: calc(100vh - 31px);
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    background: black;
    color: white;
}
#status {
    font-size: 10px;
}
.menupopup .leaflet-popup-content {
    margin:5px;
    margin-right:20px;
}
.text-marker-content {
    height: 32px;
    width: max-content;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 0px 0px 4px #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-marker-content-small {
    height: 24px;
    width: max-content;
    font-size: 10px;
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 0px 0px 4px #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#statusbar {
    cursor: pointer;
}

.notify-message {
    font-size: 14px;
    background: #fff8;
    padding: 0.5em 1em;
    margin: 0;
    font-weight: bold;
    width: 60vw;
    text-align: center;
    left: 20vw;
}

@media (min-width: 700px) and (display-mode: fullscreen) {
    .leaflet-right{
        margin-right: 15px;
    }
    .leaflet-left {
        margin-left: 15px;
    }
}
#inbox-message {
    white-space: pre-wrap;
}

i.fas.fa-helicopter {
    margin-left: -3px;
    margin-right: -3px;
}


.ctab-menu {
    min-width: 150px;
}
    .ctab-menu .dropdown-item {
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 2rem;
    }

    .ctab-menu.ctab-compass .dropdown-item {
        width:33%;
    }
    .ctab-menu.ctab-compass {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }

.reset-font-size {
    font-size: 1rem;
    line-height: 1.5;
}

#intel-feed-items {

    min-height:100px;
}

.fa-file-upload {
    margin: 0px 2px;
}
